$tamaño: 1rem;
$letra: "Lato", sans-serif;


@mixin parrafos {
    
    font-family: $letra;
    font-size: $tamaño;
    color: #73706E;
    font-weight: 300;
   
}

main {
    .contenedor-titulo {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 50px 30px;
        align-items: center;

        h1 {
            font-family: "Lato", sans-serif;
            font-size: 5rem;
            color: #73706E;
            font-weight: bold;
        }

        p {
            @include parrafos();
            width: 50%;
            padding-bottom: 0;
            line-height: 30px;
            text-align: center;


        }
    }

    section {
        .contenedor-imagen-aloja {
            display: flex;
            justify-content: center;
            margin: 30px;
            margin-bottom: 0;

            img {
                width: 90%;
                height: 80%;
            }
        }
    }

    .contenedor-informacion {
        text-align: center;

        .info1 {
            margin-top: 20px;
            margin-bottom: 40px;

            p {
                @include parrafos();
                padding: 6px;
            }
        }

        .info2 {
            h2 {
                font-family: $letra;
                font-size: 3rem;
                color: #73706E;
                font-weight: bold;
                padding: 20px;
            }

            p {
                @include parrafos();
                padding: 6px;

                .parrafo-principal {
                    margin: 20px;
                    padding: 0 20px;
                }
            }
        }

        .horarios {
            border-bottom: 2px solid #73706E;

            p {
                @include parrafos();
                padding-top: 5px;
                padding-bottom: 5px;

                span {
                    font-weight: 900;
                }
            }
        }

        .info2 {
            h2 {}

            .horarios {}
        }

        .info2 {
            div {
                h2 {}
            }

            .horarios {
                p {
                    span {
                        font-weight: 900;
                    }
                }
            }
        }
    }
}