
main {
    .galeria-contenedor {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 10px;
        overflow: hidden;
        grid-gap: 10px;

        a {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.5s;
                border-radius: 4px;
                vertical-align: top;
                height: 300px;

                &:target{
                    position: fixed;
                }
            }

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }

        .light-box {
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            transition: transform .3s ease-in-out;
            height: 100vh;
            width: 100%;
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: scale(0);

            img {
                
                width: 70%;
                height: 70%;
                object-fit: cover;
            }

            &:target {
                transform: scale(1);
            }

            .close {
                display: block;
                position: absolute;
                top: 40px;
                right: 40px;
                background: #851919;
                color: #F2EDE4;
                text-decoration: none;
                width: 40px;
                height: 40px;
                text-align: center;
                border-radius: 50%;
                line-height: 40px;
            }
        }
    }
}