@media only screen and (max-width: 890px) {
    main {
        .historia-container {
            width: auto;
            height: auto;
            padding-top: 0;
            padding-bottom: 0;

            .contenedor-sombreado {
                width: 90%;
                height: 90%;
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    main {
        .historia-container {
            .contenedor-sombreado {
                .imagen-historia {
                    display: flex;
                    justify-content: center;

                    img {
                        width: 200px;
                        height: 200px;
                    }
                }

            }

            .contenedor-sombreado {
                .imagen-historia {
                    display: flex;
                    justify-content: center;

                    img {
                        width: 200px;
                        height: 200px;
                    }
                }

            }
        }
    }
}