

/* ************************************************** HISTORIA ********************************************* */

/* ************* MAIN *************** */

.historia-container {
    padding-top: 80px;
    padding-bottom: 80px;
    height: 600px;
    background-color: #F2EDE4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contenedor-sombreado {
    margin: 50px 0;
    padding: 10px;
    background-color: #BFBFBD;
    width: 850px;
    height: 500px;
    box-shadow: 15px 15px #73706E;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imagen-historia {
    margin-top: 10px;
}

.imagen-historia img {
    margin-bottom: 20px;
    border-radius: 4px;
}

.texto-historia {
    width: auto;
    height: auto;
    display: flex;
    text-align: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.texto-historia p {


    text-align: justify;
    font-family: "Lato", sans-serif;
    font-size: 100%;
    color: #73706E;
    font-weight: 500;
}



/* ******************************************** INFORMACION ************************************* */
.contenedor-imagen-aloja {
    display: flex;
    justify-content: center;
    margin: 30px;
    margin-bottom: 0;
}

.contenedor-imagen-aloja img {
    width: 90%;
    height: 80%;
}

.contenedor-titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 50px 30px;

}

.contenedor-titulo h1 {
    font-family: "Lato", sans-serif;
    font-size: 5rem;
    color: #73706E;
    font-weight: bold;
}

.contenedor-titulo p {
    padding: 30px 70px;
    padding-bottom: 0;
    line-height: 30px;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: #73706E;
    font-weight: bold;
    text-align: center;
}

.contenedor-informacion {
    text-align: center;
}

.info1 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.info1 p {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: #73706E;
    font-weight: 200;
    padding: 6px;
}

.info2 h2 {
    font-family: "Lato", sans-serif;
    font-size: 3rem;
    color: #73706E;
    font-weight: bold;
    padding: 20px;
}

.info2 p {
    line-height: 20px;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: #73706E;
    font-weight: 400;
}

.parrafo-principal {
    margin: 20px;
    padding: 0 20px;
}

.horarios {
    border-bottom: 2px solid #73706E;
}

span {
    font-weight: 900;
}

.horarios p {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: #73706E;
    font-weight: 200;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contenedor-telefonos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #73706e;
    height: 100px;
}

.numeros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.numeros p {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: #F2EDE4;
    font-weight: 200;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 15node -vpx;
}

.numeros p:hover {

    text-decoration: underline;
    cursor: pointer;
}

.titulo-telefonos {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    color: #F2EDE4;
    font-weight: 200;
    padding: 20px;
    padding-left: 25px;
}

/* ***************************************** BOOSTRAP ******************************************************** */

/* ******* FORMULARIO INDEX ********** */
.container {
    width: 400px;
    margin: 30px 0;
}

#contactus {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);


}

#contactus h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contactus h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contactus input[type="text"],
#contactus input[type="email"],
#contactus input[type="tel"],
#contactus input[type="url"],
#contactus textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contactus input[type="text"]:hover,
#contactus input[type="email"]:hover,
#contactus input[type="tel"]:hover,
#contactus input[type="url"]:hover,
#contactus textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contactus textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contactus button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #73706E;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contactus button[type="submit"]:hover {
    background: #f07150;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contactus button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contactus input:focus,
#contactus textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}


.container form {
    border-radius: 4px;
    width: 80%;
    height: 20%;
    margin: 0;
    padding: 0;
}

#contactus h3 {
    color: #73706E;
}

#contactus-submit {
    border-radius: 4px;
}

/* ****** CARRUSEL GALERIA ****** */

.carousel-item img {
    height: 10%;
}


/* ******************************************** RESPONSIVE ***************************************** */
@media only screen and (max-width: 1240px) {
    .titulo h1 {
        font-size: 4rem;
        text-align: center;
    }

    .titulo {
        width: 70%;
    }
}

@media only screen and (max-width: 1200px) {
    .multimedia-contenedor {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sombra {
        width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: none;

    }
}

@media only screen and (max-width: 1100px) {
    .titulo-telefonos {
        text-align: center;
    }

    .parrafo {
        width: 60%;
    }

    .info1 p {
        margin: 0 30px;
        padding: 0 30px;
    }

    .horarios p {
        margin: 0 20px;
        padding: 0 20px
    }
}

@media only screen and (max-width: 940px) {
    .galeria-contenedor {
        grid-template-columns: repeat(3, 1fr);
    }

    .entretenimiento-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .texto {
        margin: 0;
        width: 80%;

    }

    .imagen-item {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .imagen-item img {
        width: 80%;
        justify-content: center;
    }

}

@media only screen and (max-width: 863px) {
    .multimedia-contenedor {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .historia-container {
        height: auto;
        padding: 10px;
    }

    .sombra {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: auto;
    }
    .container {
        display: flex;
        justify-content: center;
    }
   #contactus {
    justify-content: center;
    margin: 0 20px;
   }

}

@media only screen and (max-width: 600px) {
    .grid-container {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
    }

    .galeria-contenedor {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 484px) {
    .logos-contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo-footer {
        display: none;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .texto {
        padding-top: 150px;
        padding-bottom: 120px;
    }

    .imagen-item {
        margin: 20px;
        width: auto;
    }

    .imagen-item img {
        height: 100%;
    }

    .contenedor-telefonos {
        height: 100%;
    }

    .numeros {
        text-align: center;
    }
}

@media only screen and (max-width: 420px) {
    .contenedor {
        height: 700px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .parrafo {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .titulo {
        text-align: center;
    }

    .titulo h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 405px) {
    .sombra {
        width: 100%;
    }
    .formulario-contenedor{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .container {
        width: 100%;
        height: 100%;
    }
    .contenedor-titulo h1 {
        font-size: 3rem;
    }

    .contenedor-titulo p {
        margin: 15px 0 0 0;
        padding: 0;
    }

    @media only screen and (max-width: 360px) {
        .texto {
            padding-top: 190px;
            padding-bottom: 170px;
        }

        .imagen-historia img {
            width: 90%;

        }

        .imagen-historia {
            display: flex;
            justify-content: center;
        }
    }

    .galeria-contenedor {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 300px) {
    .info2 h2 {
        font-size: 2rem;
    }
}




