/* ******************************************************** MEDIDAS UNIVERSALES ************************************************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ******************************************************** HEADER ********************************************************** */

.grid-container {
    padding-top: 7px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #73706E;
    border-bottom: 2px solid #F2EDE4;
    margin-bottom: 0;
}


.grid-container a {
    
    text-decoration: none;
    
}

.item {
    list-style: none;
    width: auto;
    height: 30px;
    margin-left: 10px;
    padding: 2px;
    border-radius: 4px;
    
}


.item:hover {
    background-color: #F2EDE4;
    transition: 0.3s;
    transform: scale(1.2);

}

.item:hover a {
    color: #BFBFBD;
}

.item a {
    font-family: "Lato", sans-serif;
    color: #F2EDE4;
    text-transform: uppercase;
    font-weight: 600;
}

.wasap {
    width: 30px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 1;
}

.container-aloja {
    display: none;
}

.item:hover>.container-aloja {
    display: block;
    list-style: none;
    transition: 0.3s;

}

.item-aloja {
    background-color: #73706E;
    border-bottom: 2px solid #F2EDE4;
    border-radius: 4px;
}

.item-aloja:hover {

    background-color: #F2EDE4;
    transition: 0.3s;
    transform: scale(1.1);
    border-radius: 4px;
}



/* ************************************************* PAGINA PRICIPAL ********************************************** */
.contenedor {
    background-image: url(../multimedia/pueblo-montaña-2.jpg);
    background-size: cover;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin-top: 0;
    
}

.titulo h1 {
    font-family: "Lato", sans-serif;
    font-size: 5rem;
    color: #F2EDE4;
    font-weight: bold;
}

.parrafo {
    margin-top: 30px;
    padding: 20px;
    width: 900px;
    height: 400px;


}

.parrafo p {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #F2EDE4;
}

#span {
    font-family: "Lato", sans-serif;
    font-size: 150%;
    color: white;
    font-weight: bold;
}



/* *************** VIDEO UBICACION Y FORMULARIO ******* */

.multimedia-contenedor {
    border-top: 2px solid whitesmoke;
    padding: 40px;
    background-color: #73706E;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.sombra {
    padding-top: 10px;
    border-radius: 10px;
    width: 800px;
    height: 500px;
    box-shadow: 15px 15px #F2EDE4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #BFBFBD;
}

.ubicacion-video {
    display: flex;
    flex-direction: column;
}

.ubicacion iframe {
    border-radius: 6px;
    width: 100%;
    height: 100%;
}

.ubicacion iframe:hover {
    transform: scale(1.3);
    transition: 0.3s;
}

.video iframe {
    border-radius: 6px;
    width: 100%;
    height: 100%;
}

.video iframe:hover {
    transform: scale(1.3);
    transition: 0.3s;
}

.ubicacion h2 {
    text-align: start;
    font-family: "Lato", sans-serif;
    font-size: 130%;
    color: #F2EDE4;
    font-weight: 400;
}

.formulario-contenedor {
    width: 400px;
    height: auto;
    padding-top: 20px;
}

.formulario-contenedor h2 {
    padding-right: 20px;
    text-align: end;
    font-family: "Lato", sans-serif;
    font-size: 130%;
    color: #F2EDE4;
    font-weight: 400;
}

.formulario form {

    margin: 10px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.formulario form input {
    border-radius: 6px;
    background-color: whitesmoke;
    width: 100%;
    height: 40px;

}

.formulario form input:last-child {
    height: 120px;
    margin-bottom: 20px;
}

/* ********************************************************** FOOTER ****************************************** */

.footer-contenedor {
    padding-top: 20px;
    background-color: #BFBFBD;
    border-top: 2px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.logos-contenedor {
    display: flex;
    margin-left: 10px;
    
}

.footer-contenedor h3 {
    font-family: "Lato", sans-serif;
    font-size: 25px;
    color: #F2EDE4;
    font-weight: 400;
    text-align: center;
}

.logos:hover {
    transform: scale(1.1);
}

/* ************************************************** HISTORIA ********************************************* */

/* ************* MAIN *************** */

.historia-container {
    padding-top: 80px;
    padding-bottom: 80px;
    height: 600px;
    background-color: #F2EDE4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contenedor-sombreado {
    margin: 50px 0;
    padding: 10px;
    background-color: #BFBFBD;
    width: 850px;
    height: 500px;
    box-shadow: 15px 15px #73706E;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.imagen-historia {
    margin-top: 10px;
}

.imagen-historia img {
    margin-bottom: 20px;
    border-radius: 4px;
}

.texto-historia {
    width: auto;
    height: auto;
    display: flex;
    text-align: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.texto-historia p {


    text-align: justify;
    font-family: "Lato", sans-serif;
    font-size: 100%;
    color: #73706E;
    font-weight: 500;
}

/* ******************************************** ENTRETENIMIENTO ******************************************* */

.entretenimiento-contenedor {
    background-color: #F2EDE4;
    display: block;
    padding: 20px;
}

.imagen-item img {
    margin: 10px;
    border-radius: 4px;
    width: 500px;
    height: 300px;
}

.entretenimiento-items {

    display: flex;
}

.texto {
    background-color: #BFBFBD;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
    width: 1000px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    box-shadow: 2px 5px 5px 2px;
    border-radius: 4px;
}

.texto p {
    color: #73706E;
}

.texto h2 {
    color: #73706E;
}

/* ****************************************** GALERIA ****************************************** */

.galeria-contenedor{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
}
.galeria-contenedor img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ******************************************** RESPONSIVE ***************************************** */

@media only screen and (max-width: 940px) {
    .galeria-contenedor {
        grid-template-columns: repeat(3, 1fr);
    }
    .entretenimiento-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .texto {
        margin: 0;
        width: 80%;

    }

    .imagen-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagen-item img {
        width: 80%;
        justify-content: center;
    }

}
@media only screen and (max-width: 863px) {
    .contenedor-sombreado {
      width: 90%;
      height: auto;
    }
    .historia-container {
        height: auto;
        padding: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .grid-container {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
    }
    .galeria-contenedor {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 484px) {
    .logos-contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo-footer {
        display: none;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .texto {
        padding-top: 150px;
        padding-bottom: 120px;
    }

    .imagen-item {
        margin: 20px;
        width: auto;
    }

    .imagen-item img {
        height: 100%;
    }

    @media only screen and (max-width: 360px) {
        .texto {
            padding-top: 190px;
            padding-bottom: 170px;
        }
        .imagen-historia img {
            width: 90%;
            
        }
        .imagen-historia {
        display: flex;
        justify-content: center;
        }
    }
    .galeria-contenedor {
        grid-template-columns: repeat(1, 1fr);
    }
}





/* ***************************************** BOOSTRAP ******************************************************** */

/* ******* FORMULARIO INDEX ********** */
.container {
    width: 400px;
    margin: 30px 0;
}

#contactus {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);


}
#contactus h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contactus h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contactus input[type="text"],
#contactus input[type="email"],
#contactus input[type="tel"],
#contactus input[type="url"],
#contactus textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contactus input[type="text"]:hover,
#contactus input[type="email"]:hover,
#contactus input[type="tel"]:hover,
#contactus input[type="url"]:hover,
#contactus textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contactus textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contactus button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background:#73706E;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contactus button[type="submit"]:hover {
    background: #f07150;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contactus button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contactus input:focus,
#contactus textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}


.container form {
    border-radius: 4px;
    width: 80%;
    height: 20%;
    margin: 0;
    padding: 0;
}
#contactus h3 {
    color: #73706E;
}
#contactus-submit{
    border-radius: 4px;
}

/* ****** CARRUSEL GALERIA ****** */

.carousel-item img{
height: 10%;
}