header {
    nav {
        .grid-container {
            padding-top: 30px;
            padding-bottom: 0;
            display: flex;
            justify-content: center;
            background-color: #73706E;
            border-bottom: 2px solid #F2EDE4;
            margin-bottom: 0;

            .item {
                list-style: none;
                width: auto;
                height: 30px;
                margin-left: 10px;
                padding: 2px;

                a {
                    text-decoration: none;
                    color: #F2EDE4;
                    font-size: 20px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .wasap {
        width: 48px;
        position: fixed;
        bottom: 15px;
        right: 15px;
        z-index: 1;
       
            &:hover {
                width: 48px;
                transform: rotate(360deg) translateY(-20px) translateX(-20px) scale(1.5);
                transition: 1s;


            }
        }
    }
